:root{
}

html{
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: "Calibri Light", monospace;
  background-color: #fff;
  padding-top: 0px;
  padding-bottom: 20px;
  margin: 0px;
  background: linear-gradient(to bottom, var(--grad1), var(--grad2));
}

video {
  box-shadow: 0 0 4px 4px #d3d3d3;
  width: 22vw;
}

li {
  font-size: 1vw;
  text-align: left;
  line-height: 2vw;
}

li a  {
  color: #add8e6;
}

li a:hover  {
  font-weight: bold;
}

button  {
  background-color: white;
  width: auto;
}

button a  {
  color: black;
  text-decoration: none;
  font-size: 1vw;
}

button a:hover {
  font-weight: bolder;
}

.asi {
  position: fixed;
  float: left;
  text-align: center;
  /*background-color: #3e6da3;*/
  color: #fff;
  font-family: "Calibri Light", monospace;
  padding: 1vw;
  font-size: 2vw;
  line-height: 2vw;
  width: 12vw;
  margin: 0 auto;
  margin-left: 2vw;
  margin-top: 8vw;
  box-shadow: 0 0 4px 4px #d3d3d3;
  background-image: url(../img/bloo.jpg);
  /* Set a specific height */
  min-height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.asi a  {
  font-size: 1vw;
  text-decoration: none;
  color: #fff;
  padding: 1vw;
  margin-bottom: 1vw;
  width: 1vw;
  margin: 0 auto;
}

.asi a:hover  {
  color: #add8e6;
  font-weight: bolder;
}

/*'contact me' icons, one and two.*/

.one  {
  float: left;
  margin: 3vw;
  width: 15vw;
}

.two  {
  float: right;
  margin: 3vw;
  width: 15vw;
}

.bodblack  {
  text-align: center;
  color: #fff;
  font-family: "Calibri Light", monospace;
  padding: 1vw;
  font-size: 2vw;
  line-height: 2vw;
  width: 60vw;
  height: 38vw;
  margin: 0 auto;
  margin-bottom: 2vw;
  box-shadow: 0 0 4px 4px #d3d3d3;
  background-image: url("../img/black.jpg");
  /* Set a specific height */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bodwhite  {
  text-align: center;
  color: #fff;
  font-family: "Calibri Light", monospace;
  padding: 1vw;
  font-size: 2vw;
  line-height: 2vw;
  width: 60vw;
  height: 39vw;
  margin: 0 auto;
  margin-bottom: 2vw;
  box-shadow: 0 0 4px 4px #d3d3d3;
  background-image: url("../img/white.jpg");
  /* Set a specific height */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bodbloo  {
  text-align: center;
  background-color: #3e6da3;
  color: #fff;
  font-family: "Calibri Light", monospace;
  padding: 1vw;
  font-size: 2vw;
  line-height: 2vw;
  width: 60vw;
  height: 39vw;
  margin: 0 auto;
  margin-bottom: 2vw;
  box-shadow: 0 0 4px 4px #d3d3d3;
  background-image: url("../img/bloo.jpg");
  /* Set a specific height */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title  {
  font-size: 4vw;
  text-align: center;
  font-family: "Julius Sans One", monospace;
  font-weight: bolder;
  line-height: 4vw;
}

/*Navigation bar*/

.topnav {
  margin-top: 1vw;
  background-color: #fff;
  overflow: hidden;
  width: 100%;
  height: 3vw;
  box-shadow: 0px 0px 4px 4px #d3d3d3;
  margin-bottom: 2vw;
}

/* Links */
.topnav a {
  margin: 0 auto;
  float: left;
  color: #0f0f0f;
  text-align: center;
  padding: 1vw;
  font-weight: normal;
  text-decoration: none;
  font-size: 1vw;
}

.topnav a.returnred {
  float: left;
  color: #fff;
  text-decoration: none;
  background-image: url("../img/white.jpg");
  /* Set a specific height */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.topnav a.returnbloo {
  float: left;
  color: #fff;
  text-decoration: none;
  background-image: url("../img/bloo.jpg");
  /* Set a specific height */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.topnav a.returnblack {
  float: left;
  color: #fff;
  text-decoration: none;
  background-image: url("../img/black.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav a.forwardbackward{
  float: right;
  color: #fff;
  text-decoration: none;
  background-image: url("../img/black.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topnav a.returnblack:hover {
  font-weight: bolder;
}

.topnav a.returnred:hover {
  font-weight: bolder;
}

.topnav a.returnbloo:hover {
  font-weight: bolder;
}

/* Change the color of links on hover- white on black */
.topnav a:hover {
  font-weight: bolder;
}

.topnav a.forwardbackward:hover {
  font-weight: bolder;
}
